@import "tailwindcss";

@theme {
  --color-brand-red: #dc2626;
  --color-brand-green: #16a34a;
  --color-brand-silver: #e5e7eb;
  --color-brand-white: #ffffff;
  --color-brand-darkgrey: #1f2937;
}

body {
  @apply bg-brand-white text-brand-darkgrey;
}
